.controls {
  .heading {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .timeDisplay {
    font-size: 70px;
    width: 13px;

    margin: 10px auto 20px auto;
  }

  .buttons {
    padding-top: 20px;
  }

  .quickButton {
    margin-right: 5px;
    // margin-bottom: 5px;
  }

  // .quickButtonsContainer {
  //   margin-bottom: 20px;
  // }

  .soundInput {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  // .soundInput {
  //   width: 100%;
  // }

  .bottomSpacer {
    margin-bottom: 20px;
  }
  .bottomSpacerSmall {
    margin-bottom: 10px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
