.controls {
  .timeDisplay {
    font-size: 70px;
    width: 13px;

    margin: 20px auto 20px auto;
  }

  .buttons {
    padding-top: 20px;
  }

  .quickButton {
    margin-right: 5px;
  }

  .quickButtonsContainer {
    margin-bottom: 20px;
  }

  .soundInput {
    width: 300px;
  }

  .bottomSpacer {
    margin-bottom: 30px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
  }

}
